@model Naytto2._2.Models.Tilaus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tilaus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TilausPvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TilausPvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat.Yhteyshenkilö)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat.Yhteyshenkilö)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tilausId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
