@model IEnumerable<Naytto2._2.Models.Tilaus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TilausPvm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaat.Yhteyshenkilö)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TilausPvm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakkaat.Yhteyshenkilö)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tilausId }) |
            @Html.ActionLink("Details", "Details", new { id=item.tilausId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tilausId })
        </td>
    </tr>
}

</table>
