@model Naytto2._2.Models.Tuotteet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tuotteet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kuvaus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuvaus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Määrä)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Määrä)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sarjanumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sarjanumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HenkilöId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HenkilöId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuotemerkki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuotemerkki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuotemalli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuotemalli)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tuoteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
